{% extends 'base.html' %}

{% block content %}


    {% if add_form %}
       <h1 class="text-center text-dark my-5">Add Product</h1>
       <div>
       <form class="fs-4" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ add_form }}
          <input class="btn btn-primary my-4 fs-4" type="submit" value="Add Product">
       </form>
       </div>
    {% elif edit_form %}
       <h1 class="text-center text-dark my-5">Edit Product</h1>
       <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ edit_form }}
          <input class="btn btn-success my-4 fs-4" type="submit" value="Update Product">
       </form>
    {% endif %}


{% endblock %}
